<html>

<head>
<title>Title</title>
</head>

<b>Handout 2 Helper File</b>
<body>

<p>You can use this file to assist you with the Handout.  I have run all of the Rcode for you, and the result of running the code is shown directly below the code.  Please feel free to use this, but in the 'real world' you would be writing the code yourself to find the solution shown below.  For the purposes of completing the handout, you should only need the information provided here.</p>

<!--begin.rcode fig.width=7, fig.height=6
data = read.csv('/Users/joshuabernhard/Downloads/ForbesData.csv')
hist(as.numeric(data$Salary), breaks = 30)
end.rcode-->

</body>
</html>
