<html>

<head>
<title>Decision Analysis Probability Distributions</title>
</head>

<b>Probability Distributions</b>

<body>

<p>This document will aim to assure you understand different probability distributions, and there following use cases. In class, we discussed discrete and continuous distributions.  Consider the following situations and suggest a probability distribution that would be suitable to model each situation.  Note that just a slight change in modeling a situation can change the distribution. For each situation below, consider what <b>distribution</b> you would use, what <b>each parameter would represent</b>, and what the random variable <b>X</b> would represent in each case.</p>
<br></br>
<ol>
  <li>Consider we are interested in modeling the number of people we see in the area who wear tie. </li>
  <ul>
      <li> Distribution:
      <br></br>
      <br></br>
      <li> Parameters:
      <br></br>
      <br></br>
      <li> Random Variable:
      <br></br>
      <br></br>
  </ul>
  <br></br>
  <li>What if (twisting the above situation) we just looked at the number of people wearing a tie out of the first 100 people that we saw?</li>
    <ul>
      <li> Distribution:
      <br></br>
      <br></br>
      <li> Parameters:
      <br></br>
      <br></br>
      <li> Random Variable:
      <br></br>
      <br></br>
  </ul>
  <li>What if we wanted to model the number of individuals until we saw our *first* person wearing a tie?  
    <ul>
      <li> Distribution:
      <br></br>
      <br></br>
      <li> Parameters:
      <br></br>
      <br></br>
      <li> Random Variable:
      <br></br>
      <br></br>
  </ul>
    <li> Consider for all of the above situations, the probability of a male individual wearing a tie on a weekday is 35%.  On Saturday, the probability of a male wearing a tie on a Saturday is 1%.  On Sunday, the probability of a male wearing a tie is 15%.  Additionally, assume that the proportion of males to females is 53% to 47%, respectively.  For the purposes of this problem, consider the probability of a female wearing a tie on any given day is the same at .5%.  Additionally assume there are 450,000 people that live in the area.  
    <br></br>
    <ul>
        <li> Based on the above scenario, determine the probability that any individual is wearing a tie.
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <li> Calculate the probability of an individual being a male given that they are are not wearing a tie.
            <br></br>
            <br></br>
            <br></br>
            <br></br>
        <li> Now, calculate the expected number of individuals in the community that are wearing ties for each day.
            <br></br>
            <br></br>
            <br></br>
            <br></br>
        <li> Calculate the probability of seeing no one wearing a tie for each day.  What are your assumptions when calculating this probability?
        <bt></br>
        <bt></br>
        <br></br>
        <br></br>
        <li>  If we don't know what day it is, what is the minimum probability of seeing at least 1 person with a tie? What is the maximum probability of seeing at least 1 person with a tie?
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <li> Considering it is a Sunday, how many people do you expect to see before you see your first person wearing a tie?
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <li> If we look at 100 individuals from the community (assume random), what is the probability 15 of these individuals are wearing ties on a Tuesday?
        <br></br>
        <br></br>
        <br></br>
        <br></br>
        <li> Consider we additionally know that if someone has a tie, they have a 40% chance of stopping at our shop.  However, if they do not have a tie, they have a 5% chance of stopping at our shop.  Assuming every person in the community has a 15% chance of passing by our shop, what is the expected number of people that will stop into our shop?
        <br></br>
        <br></br>
        <br></br>
        <br></br>
    </ul>
</ol>

